.TW a:hover {
  text-decoration: none;
}





hr {
  border-color: #000;
  width: 60%;
}

img {
  max-width: 100%;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #fff;
  color: #000;
}

.co {
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 30px;

}

.profile {
  max-width: 100%;
  margin: 2.5;
  padding: 5px;
  height: 80px;
  width: 80px;
  border-radius: 100%;

}

.nav {
  border-radius: 0px;
}

#gallery li img {
  height: 80px;
  width: 80px;
  max-width: 100%;
}

.name {
  display: inline;
  text-align: center;
}
/* /* /* /* /* /* /* /* /* /* /* /* /* /* /* /* /* /* /*
/*Apps.html MTP (Moon Tunnelz Preview) */

#mtp {
  list-style: none;
  margin: auto;
  max-width: 100%;
  height: 800px;
  width: 800px;
}
 /*yup*/
