hr {
  border-color: #000;
  width: 60%;
}

img {
  max-width: 100%;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #fff;
  color: #000;
}

.co {
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 50px;

}

#ben {
  max-width: 100%;
  margin: 2.5;
  padding: 10px;
  height: 80px;
  width: 80px;
  border-radius: 100%;

}
