/*****************
NAVIGATION BAR
*****************
.nav ul {
  list-style: none;
  margin: 50px;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  float: right;
  background-color: #66c0b7;
  width: 100%;
  height: 100%;
}

.nav li {
  display: inline;

}

.nav a {
  text-decoration: none;
}

body {
  background-color: #0099FF;
} */

.navbar {
  background-color: transparent;
  background: transparent;
}

.navbar:hover {
  background-color: #999;
}
