/*****************
Co-Founder's
*****************/


.profile {
  max-width: 100%;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 100%;


}

.positioning {
  font-size: 25px;
  color: #000;
  display: block;
  text-align: center;







}

.founder {

  text-align: center;
  clear: both;


}
