.co {
  display: inline;

}

.profile {
  max-width: 100%;
  margin: 5px;
  padding: 5px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  float: left;
}

.positioning {
  font-size: 20px;
  color: #aaa;
  display: block;
  padding-top: 20px;
  vertical-align:top;
}

.founder {
  font-size: 20px;
  color: #aaa;
  display: block;
  margin-top: -20px;
  vertical-align:top;
}
